#!/usr/bin/make -f
# -*- mode:makefile -*-
export DH_VERBOSE=1

VER := $(shell dpkg-parsechangelog | awk '$$1 == "Version:" { print $$2; }')

all: binary

clean:
	dh_testdir
	python3 setup.py clean -a
	dh_clean
	rm -f .stamp-* debian/*.1
	rm -rf .pybuild *.egg-info

%.1: %.1.ronn debian/rules
	ronn -r --manual="User Manuals" --organization="speedtest-cli $(VER)" $<

build: .stamp-build-arch .stamp-build-indep
.stamp-build-arch:
	touch $@
.stamp-build-indep: debian/speedtest-cli.1
	dh_testdir
	pybuild -i python3 --build
	touch $@

install: .stamp-install-arch .stamp-install-indep
.stamp-install-arch: .stamp-build-arch
	touch $@
.stamp-install-indep: .stamp-build-indep
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	pybuild -i python3 --install
	rm -f debian/tmp/usr/bin/speedtest
	mv debian/tmp/* debian/speedtest-cli/
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_lintian
	dh_compress
	dh_fixperms
	touch $@

binary: .stamp-binary-arch .stamp-binary-indep
.stamp-binary-indep: .stamp-install-arch
	touch $@
.stamp-binary-arch: .stamp-install-indep
	dh_python3
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	touch $@

build-arch: .stamp-build-arch
build-indep: .stamp-build-indep
install-arch: .stamp-install-arch
install-indep: .stamp-install-indep
binary-arch: .stamp-binary-arch
binary-indep: .stamp-binary-indep
.PHONY: all clean
.PHONY: build build-arch build-indep
.PHONY: install install-arch install-indep
.PHONY: binary binary-arch binary-indep
